.productPage{
    font-family: Inter, sans-serif;
    &__container{
        animation: reveal-image 1000ms;
        animation-delay: 600ms; 
        animation-fill-mode: both;
        &__imgContainer{
            &__chevrons{
                color:rgb(0, 0, 0);
            }
            &__img{
                img{
                    height: 550px;
                }
            }
        }
    }
    &__product{
        animation: reveal-product 1000ms;
        animation-delay: 600ms; 
        animation-fill-mode: both;
    }
}

@keyframes reveal-product {
    0%{
        transform: translateX(150px);
        opacity: 0;
    }100%{
        transform:translateX(0px);
        opacity: 1;
    }
}

@keyframes reveal-image {
    0%{
        transform: translateX(-150px);
        opacity: 0;
    }100%{
        transform:translateX(0px);
        opacity: 1;
    }
}



.stars-rating{
    transform: scaleX(-1);
}

.star-widget input {
    display: none;
  }
  
  .star-widget label {
    font-size: 20px;
    color: #6a6a6a;
    padding: 10px;
    transition: all 0.2s ease;
  }
  
  .star-widget input:not(:checked) ~ label:hover,
  .star-widget input:not(:checked) ~ label:hover ~ label {
    color: $style; /* Replace with your desired color */
    transition: all 0.2s ease 0.2s; /* Add a delay to the transition for the right-to-left effect */
  }
  
  .star-widget input:checked ~ label {
    color: $style; /* Replace with your desired color */
  }
  

  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .wrapper span{
    width: 100%;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .wrapper input.num{
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
    pointer-events: none;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
  
  
  
 

  